
/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 60px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}




.nav-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* Sidebar Styling */
.sidebar {
    width: 200px;
    background: linear-gradient(to bottom, #1f2937, #16a085);
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Layout Styling */
.main-container {
    display: flex;
    margin-left: 200px;  /* Space for Sidebar */
}

.content {
    flex-grow: 1;
    padding: 20px;
}
